body{
  margin: 0;
  font-size: 100%;
  background-color: #f8f8f8;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

h1, h2, h3{
  font-weight: 700;
}

input, textarea {
  font-size: 1em;
  padding: 4px;
  border: solid 1px #E5E5E5;
  outline: 0;
  background: #FFFFFF;
  color: #8D999D;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
  border-color: #C9C9C9;
  color: #5C6366;
}

/* header styles */

#header_wrapper{
  background-color: #00769D;
}


#header h1 a{
  text-decoration: none;
  color: #f8f8f8;
  display: inline-block;
  margin: 0.5em 0 0.5em 0;
  font-size: 1.7em;
}

h1 span, h2 span, h3 span{
  font-weight:400;
}
#header .navigation a{
  font-size: 0.9em;
  text-decoration: none;
  color: #fff;
}

#header .navigation a:hover{
  text-decoration: underline;
}

#header .navigation ul{
  display: inline;
  line-height: 2em;
  float: right;
  margin: 0.5em 0;
}

#header .navigation li{
  display: inline-block;
  margin-left: 0.5em;
}

/* Main content */

.display{
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
}

.display h2{
  color: #545454;
  font-size: 1.5em;
  padding-bottom: 5px;
  border-bottom: 3px solid #eee;
  margin-bottom: 10px;
}

.login .title{
  margin: 40px 0 10px 0;
  padding: 0;
  text-align: center;
  display: inline-block;
  font-size: 2em;
}

.login .title a{
  text-decoration: none;
  color: #222;
  margin: 0;
  padding: 0;
}

.display.login h2{
  background-color: transparent;
  border: 0;
}

.side_nav .ip_address{
  padding-top: 11px;
  font-size: 1.5em;
  color: #808080;
  margin-bottom: 10px;
}

.side_nav a{
  display: block;
  color: #545454;
  font-size: 0.9em;
  line-height: 1.5em;
}

.side_nav a:hover{
  color: #242424;
}

.side_nav a#cancel_server{
  color: #FB2828;
  font-size: 0.7em;
}

.side_nav .group{
  outline: none;
  border: none;
  background-color: inherit;
  margin: 1em 0;
}

.side_nav .group .title{
  font-size: 1.4em;
  color: #545454;
}

.side_nav .group .sub{
  font-size: 0.7em;
  color: #838383;
}

.side_nav .group .links{
  margin-top: 10px;
}
